<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
	<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="/plugins/angularjs/angular.min.js"></script>
	<script src="js/base.js"></script>
	<script src="js/service/positionService.js"></script>
	<script src="/js/service/lookPositionService.js"></script>
	<script src="/js/controller/baseController.js"></script>
	<script src="/js/controller/lookPositionController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="jianzhi" ng-controller="lookPositionController" ng-init="findTypePid(0);findAllPosi()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">兼职查询</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
										搜索条件：
										<select ng-model="condition">
											<option selected value="0">选择类型</option>
											<option value="1">兼职类型</option>
											<option value="2">兼职名称</option>
										</select>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right" ng-if="condition==1">
                                <div class="has-feedback">
									兼职类型：
									<select ng-model="searchEntity.type1" ng-options="item.id as item.name for item in typeList1" style="width: 150px"></select>

									<select ng-model="searchEntity.type2" ng-options="item.id as item.name for item in typeList2" style="width: 150px"></select>

									<select ng-model="searchEntity.type3" ng-options="item.id as item.name for item in typeList3" style="width: 150px"></select>
									<button ng-click="findAllPosi()" class="btn btn-default" >查询</button>
                                </div>
                            </div>
							<div class="box-tools pull-right" ng-if="condition==2">
								<div class="has-feedback">
									兼职名称：<input ng-model="searchEntity.title">
									<button ng-click="findAllPosi()" class="btn btn-default" >查询</button>
								</div>
							</div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>

										  <th>兼职id</th>
									      <th class="sorting">兼职名称</th>
									      <th class="sorting">兼职薪资</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in positionList">
				                          <td>{{entity.id}}</td>
									      <td>{{entity.title}}</td>
									      <td>{{entity.salary}}</td>
		                                  <td class="text-center">                                          
		                                 	  <button ng-click="findDesc(entity.descFk)" type="button" class="btn bg-olive btn-xs" >详情</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
        
</body>

</html>